# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
ENV/
*.egg-info/

# Django specific
db.sqlite3
*.sqlite3
*.log

# Static and media
/static/
media/

# Environment variables
.env
.env.*

# VSCode and JetBrains IDEs
.vscode/
.idea/

# MacOS & Linux system files
.DS_Store
Thumbs.db

# Migrations (optional if you don’t want to track)
**/migrations/*.pyc
**/migrations/__pycache__/
